@import "../../../node_modules/@sparkdesignsystem/spark/spark";

.tile-default {
    background-color: $sprk-gray;
    border: 1px solid $sprk-black;
    min-height: 60px;
    min-width: 60px;
    padding: inherit;
}

.tile-default:hover {
    cursor: pointer;
}